{% extends base_template %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <app-root host="{{ path('zema888_tree_data', {'_sonata_admin': _sonata_admin}) }}&operation="
                  edit="{{ admin.generateUrl('edit', {'id': '{id}'}) }}"></app-root>
    </div>
    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_modal.html.twig' with {'id' : 'tree'} %}
    {% include 'Zema888TreeBundle:CRUD:modal_edit_association_script.html.twig' with {'id' : 'tree', 'admin' : admin} %}
    <script src="{{ asset('bundles/zema888tree/js/app.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{  asset('bundles/zema888tree/css/styles.css') }}"  rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {{ parent() }}
{% endblock %}



{% block list_filters_actions %}
    &nbsp;
{% endblock %}

{% block list_filters %}

{% endblock %}

